{% block header %}
### {{ type }}

***
{% endblock %}

{% block main %}
{% endblock %}

{% if authors %}
***

#### Authors

{% for author in authors %}
- {{ to_json(author) }}
{% endfor %}
{% endif %}
