{# Override of default template for executable node types #}
{% block header %}
### {{ execution_status_emoji(executionStatus) }} {{ type }}

***

{{ execute_node_button('theNodeId') }}

***
{% endblock %}

{% if executionMessages %}
***

{% for message in executionMessages %}
**{{ message.level }}**: `{{ message.message | safe }}`

```{{ programminLanguage }}
{{ message.stackTrace | safe }}
```

***
{% endfor %}
{% endif %}
